
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(209, 209, 209);
}

.head {
    
    text-align: center;
    background: rgb(20, 1, 1);
    padding: 20px;
    color: blanchedalmond;
}

/* Menue */

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type:none;
    background-color:crimson;
    
    

}

li {
    float: left;
    
    
}

  li a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: blanchedalmond;
    padding: 10px ;
    
    }
    


    li:hover {
        background: rgb(170, 9, 9);
    transition: background 1s;
    }

    li:active {
        transform: scale(1.4);
    }

  ul  img   {
        float: right;
        margin-right: 50px;
        width: 180px;
        }


        .use {
            background-color: rgb(126, 1, 1);
            
        }

        .use a {
            color: black;
        }

        .use:hover {
            background-color: rgb(126, 1, 1);
        }

/* Information for Club */
.info {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    padding-top:0;
    padding-left: 30px; 
    border-left:5px solid crimson ;
    
}
    
.info::after {
    content: "";
    display: table;
    clear: both;
}

.info img {
    margin-left: 25px;
}

/* teams logos */
.kit img {
    width: 150px;
    margin-left: 70px;
    padding-top: 20px;
    
}

td {
    display: block;
    margin-left: 30px;
}

.games h1 {
    text-align: center;
    margin-right: 480px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.games img {
    width: 50px;
    margin-left: 50px;
    vertical-align: middle;
    
}



.games {
    padding: 35px;
   
}



.club {
    vertical-align:middle ;
    margin-left: 50px;
    font-size: 20px;
}

.club1 {
    vertical-align:middle ;
    margin-left: 20px;
    font-size: 20px;
}

.rez {
    margin-left: 20px;
    font-size: 40px;
    vertical-align: middle;
}

.rez1 {
    margin-left: 40px;
    font-size: 40px;
    vertical-align: middle;
}

.rez2 {
    margin-left: 60px;
    font-size: 40px;
    vertical-align: middle;
}

.back {
    background-color:rgb(182, 182, 182) ;
    
}
.back h1 {
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
}

.back h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.back::after {
    content: "";
    clear: both;
    
}

 div .gallery  {
    margin: 50px;
    border: 1px solid black;
    background-color: crimson;
    display: inline-block;
}

.gallery img {
    width: 300px;
    height: 200px;
}

 .desc {
    text-align: center;
    color: blanchedalmond;
    
}


 .footer{
    text-align: center;
background-color: rgb(182, 4, 40);
}

.footer img {
    width: 50%;
}

@media screen and (max-width:700px) {
    ul,li{
    width: 100%;
    }
  
    ul img {
        margin-right: 150px;
    }

    .games {
        content: "";
        clear: both;
        display: table;
    }

    .games h1 {
        margin-left: 140px;
    }

    .games img {
        margin-left: 0;
    }

    .club,.club1 {
        margin-left: 0;
    }

    .rez, .rez1,.rez2 {
        margin-left: 0;
    } 

    .info {
        float: none;
        margin-left: 50px;
        border-left: none;
        border-bottom:5px solid crimson ;
    }

     div .gallery {
        margin-left: 100px;
    }


}

